# BeautifulSoup and Requests

In [1]:
from bs4 import BeautifulSoup
import requests

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [7]:
table = soup.find('table')

In [8]:
world_titles = table.find_all('th')

In [9]:
world_tables_titles = [title.text.strip() for title in world_titles]
while world_tables_titles[ len(world_tables_titles) - 1] != 'Revenue per worker':
    world_tables_titles.pop()
print(world_tables_titles)

['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]', 'State-owned', 'Ref.', 'Revenue per worker']

In [10]:
import pandas as pd

In [11]:
df  = pd.DataFrame(columns = world_tables_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue, Profit, Employees, Headquarters[note 1], State-owned, Ref., Revenue per worker]
Index: []

In [12]:
column_data = table.find_all('tr')

In [13]:
count = 0
for row in column_data[2:]:
    count = count + 1
    row_data = (row.find_all('td'))
    individual_row_data = [title.text.strip() for title in row_data]
    individual_row_data.insert(0,count)
    length = len(df)
    
    df.loc[length] = individual_row_data

In [14]:
df.head()

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned,Ref.,Revenue per worker
0,1,Walmart,Retail,"$611,289","$11,680","2,100,000",United States,,[1],"$291,090.00"
1,2,Saudi Aramco,Oil and gas,"$603,651","$159,069","70,496",Saudi Arabia,,[4],"$8,562,911.37"
2,3,Amazon,Retail,"$574,785","$30,425","1,525,000",United States,,[5],"$376,908.20"
3,4,State Grid Corporation of China,Electricity,"$530,009","$8,192","870,287",China,,[6],"$609,004.85"
4,5,Vitol,Commodities,"$505,000","$15,000","1,560",Switzerland,,[7][8],"$323,717,948.72"

In [174]:
df.to_csv(r'D:\career\Python\comp.csv', index = False)

# all in one

In [177]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

table = soup.find('table')

world_titles = table.find_all('th')
world_tables_titles = [title.text.strip() for title in world_titles]
while world_tables_titles[ len(world_tables_titles) - 1] != 'Revenue per worker':
    world_tables_titles.pop()

df  = pd.DataFrame(columns = world_tables_titles)
df

column_data = table.find_all('tr')
count = 0
for row in column_data[2:]:
    count = count + 1
    row_data = (row.find_all('td'))
    individual_row_data = [title.text.strip() for title in row_data]
    individual_row_data.insert(0,count)
    length = len(df)
    
    df.loc[length] = individual_row_data

df
df.to_csv(r'D:\career\Python\comp.csv', index = False)